{% extends "orders/base.html" %}

{% block title %}
Apertura de Caja
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
    <h2>Apertura de caja</h2>
    <form action="/agregar_monto/" method="POST">
        {% csrf_token %}
        <label for="monto">Monto:</label>
        <input type="text" id="monto" name="monto">
        <button type="submit">Agregar</button>
    </form>
    <!--
    <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text">

                </div>

            </form>
        </div>
    </div>-->
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 ">
    <h1>Ultimo Ingreso</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="color: white;">Usuario</th>
                    <th style="color: white;">Monto $</th>
                    <th style="color: white;">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for c in mostrar %}
                <tr>
                    <td style="color: white;">{{c.usuario}}</td>
                    <td style="color: white;">{{c.monto}}</td>
                    <td style="color: white;">{{c.fecha_ingreso}}</td>
                </tr>
                {% endfor %}               
            </tbody>
        </table>
    </div>
  </div>  
</div>
<!--
<u1>
    {% for c in mostrar %}
    <li>{{c.usuario}}</li>
    <li>{{c.monto}}</li>
    <li>{{c.fecha_ingreso}}</li>

    {% endfor %}
</u1>-->
{% endblock %}