{% extends "orders/base.html" %}

{% block title %}
Apertura de Caja
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
    <h2>Apertura de caja</h2>
    <div class="card">
        <div class="card-body" style="background-color: #a87942; background-color: #311c07; ">
            <form action="/agregar_monto/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="monto" name="monto" class="form-control" placeholder="Monto de Apertura" required>
                </div>
                <div class="form-group">
                    <input type="text" id="caja_num" name="caja_num" class="form-control" min="1" max="1" placeholder="N° de Caja" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white" style="color: #a87942;
                    background-color: #a87942; border-color: #a76528;">Guardar</button>
                </div>
        
            </form>
        </div>
    </div>
    <!--
    <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text">

                </div>

            </form>
        </div>
    </div>-->
  </div>
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 ">
    <h1>Ultimo Ingreso</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="color: white;">Usuario</th>
                    <th style="color: white;">N° Caja</th>
                    <th style="color: white;">Monto $</th>
                    <th style="color: white;">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for c in mostrar %}
                <tr>
                    <td style="color: white;">{{c.usuario}}</td>
                    <td style="color: white;">{{c.caja_num}}</td>
                    <td style="color: white;">{{c.monto}}</td>
                    <td style="color: white;">{{c.fecha_ingreso}}</td>
                </tr>
                {% endfor %}               
            </tbody>
        </table>
    </div>
  </div>  
</div>
{% else %}
<h1>POR FAVOR, LOGUEARSE</h1>
{% endif %}
<!--
<u1>
    {% for c in mostrar %}
    <li>{{c.usuario}}</li>
    <li>{{c.monto}}</li>
    <li>{{c.fecha_ingreso}}</li>

    {% endfor %}
</u1>-->
{% endblock %}