{% extends "orders/base.html" %}
{% load static %}
{% block title %}
Ordenes
{% endblock %}

{% block body %}
<style>
    body {
        background-image: url('{% static "imagenes/fondo.png" %}');
        background-size: cover;
    }
</style>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
        <h2>Listado</h2>
        <ul id="listado-items">
            
        <hr>          
            
        </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 ">
      <h1>Ordenes</h1>
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th style="color: white;">Mozo</th>
                      <th style="color: white;">Carta</th>
                      <th style="color: white;">N° de Orden</th>
                      <th style="color: white;">Precio</th>
                      <th style="color: white;">Estado</th>
                      <th style="color: white;">Ver</th>
                  </tr>
              </thead>
              <tbody>
                  {% for c in most %}
                    
                    <tr>
                        <td style="color: white;">{{c.user_id}}</td>
                        <td><button class="btn btn-primary ver-btn" type="button" data-order-number="{{c.order_number}}" data-contenido="{{c.contenido}}">Ver</button></td>
                        <td style="color: white;">{{c.order_number}}</td>
                        <td style="color: white;">${{c.precio_total}}</td>
                        <td style="color: white;">{% if c.complete %}
                                                        Procesada     <small><a href="{% url 'eliminarOrden' c.pk %}" >(eliminar)</a></small>
                                                    {% else %}
                                                        {% if c.order_number %}
                                                            <a href="{% url 'pagarOrden' order_number=c.order_number %}" class="btn btn-info">¿Procesar?</a>
                                                        {% endif %}
                                                    {% endif %}</td>
                        <td>{% if c.complete %}
                                <a href="{% url 'facturas' %}" target="_blank">
                                <button class="btn btn-primary ver-btn" type="button">Finalizar</button></a>
                            {% else %}
                                <button class="btn btn-primary ver-btn" type="button" style="color: rgba(165, 42, 42, 0.459);">Finalizar</button>
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}               
              </tbody>
              
          </table>
      </div>
    </div>  
</div>

<script>
    document.querySelectorAll('.ver-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            var orderNumber = this.getAttribute('data-order-number');
            var contenidoitem = this.getAttribute('data-contenido');
            var listadoItems = document.getElementById('listado-items');

            // Borrar el contenido anterior del elemento con el ID 'listado-items'
            while (listadoItems.firstChild) {
                listadoItems.removeChild(listadoItems.firstChild);
            }
            // Crear un nuevo elemento de lista para el número de orden
            var newOrderItem = document.createElement('li');
            newOrderItem.textContent = 'N° de Orden: ' + orderNumber;
            listadoItems.appendChild(newOrderItem);
            // Crear un nuevo elemento de lista para el contenido del ítem
            var newContentItem = document.createElement('li');
            newContentItem.textContent = contenidoitem;
            listadoItems.appendChild(newContentItem);
        });
    });
</script>
{% endblock %}